/*/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/22px "Lato", Arial, sans-serif;
  background: #f7f5ee;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}

.head-banner {
  color: #fff;
  min-height: 150px;
  background: #027cd5;

}
.head-banner .logo {
  clear:both;

}
.head-banner .logo b{
  font-size: 50px;

}
.head-banner ul {
      padding: 20px 0 40px 0;
}
.head-banner ul li {
  display: inline;
  padding-left: 20px;
}

.head-banner ul li a {
  color: #fff;
  text-decoration: none;
}

.head-banner .left{
  float: left;
}
.head-banner .right{
  float: right;
}

.nav {
  padding: 20px 0 40px 0;
  background: #006cb4;
  font-size: 16px;
}
.nav .navbar-left {
  float: left;
}
.nav .navbar-right {
  float: right;
}
.nav ul li {
  display: inline;
  padding-left: 20px;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
}
.nav ul li a:hover {
  color: black;
}

.container {
  margin: auto;
  width: 80%;
}

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


/* FORM PAGES */


.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}
*/