/* products */

.products{

}

.products .unit-product{
  padding: 5px;
  text-align: center;
  display: inline-block;  
 height: 170px;  
 width: 200px;  
 border: 1px solid #585858 ;
 border-radius: 6px;  
 margin: 10px 10px 10px 10px; 
}
.products .detailed-product{
  margin-top: 20px;
  text-align: center;  
}

.products .detailed-product img{
    height: 200px;
    width: 150px;  
}
.products .detailed-product h3{
 font-weight: bold;
 font-size: 20px;
}
.products .detailed-product h5 b{
  color: green;
}


