  <div class="nav">
  <div class="container">
    <ul class="navbar-left">
    <% @categories.each do |category| %>
      <li><%= link_to category.name, products_path(category_id: category) %></li>
      <% end %>
    </ul> <!--end navbar-left -->

    <ul class="navbar-right">
      <li><a href="<%= cart_index_path %>" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge"><%= if(session[:user_id]) then current_user.shoppingkarts.count else '' end %></span></a></li>
    </ul> <!--end navbar-right -->
  </div> <!--end container -->
  </div>