<div class="products">
  <div class="container">
    <div class="detailed-product">
      <img src="abcd,png">
      <h3><%= @product.name %></h3>
      <h4><%= @product.desc %></h4>
      <h5 class="price">Price : <b><%= @product.price %><b></h3>
      <%= button_to 'Add to cart',cart_index_path(product_id: @product.id ), class: "btn-submit",:method => :post,:form => { :class => "add-to-cart" }, :remote => :true %> 
    </div>
  </div>
</div>